@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Color */
.bg-primary {
  background: #088395;
}

.bg-secondary {
  background: #0A4D68;
}

.bg-accent {
  background: #05BFDB;
}

.text-accent {
  @apply text-yellow-300
}

.text-accent-secondary {
  color: #0A4D68;
}

/* Global Classes */
.app-container {
  @apply w-full flex flex-col sm:flex-row flex-grow overflow-hidden;
}

.section-title {
  @apply text-4xl text-center text-white font-bold bg-secondary rounded p-2 mx-auto mt-6;
}

body {
  @apply flex flex-col min-h-screen bg-crowd bg-no-repeat bg-center bg-fixed m-0;
}

main {
  @apply flex-auto;
}

li {
  @apply px-4;
  @apply cursor-pointer;
}

.section-container {
  @apply container flex flex-col items-center justify-center mx-auto w-80;
}

.section {
  @apply mb-5;
}

form {
  @apply flex flex-col mb-auto mt-4 justify-center align-middle;
}

.form-container {
  @apply: grid grid-cols-1 gap-x-4 gap-y-2 sm:grid-cols-4;
}

.form-element {
  @apply block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-[#088395] sm:text-sm sm:leading-6;
}

.submit-btn {
  @apply block w-full rounded-md bg-secondary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-[#088395] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0A4D68];
}

/* Nav */
.header {
  @apply flex w-screen justify-between items-center px-4;
}

header a:hover {
  @apply text-gray-200;
}

.logo {
  @apply flex py-2 w-[95%];
}

li a:hover {
  @apply text-yellow-500;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 bg-gray-900 duration-500;
  width: 11rem;
}

/* Artists */

.artist-container {
  @apply container flex flex-col w-full my-10;
}

.artist-section {
  @apply container flex flex-col justify-center items-center w-full h-full gap-4 mx-auto pb-8;
}

.artists {
  @apply max-w-sm rounded overflow-hidden shadow-lg bg-white;
}

.artist-info {
  @apply px-6 pt-4 pb-2 text-center;
}

.artist-info h4 {
  @apply text-xl mb-2 font-bold;
}

.add-artist-btn {
  @apply block w-40 mx-auto mb-4 rounded-md bg-primary mt-2 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-[#05BFDB] hover:text-black ;
}

/* Add Artist */

.add-artist {
  @apply text-4xl text-center;
}
.add-artist-container {
  @apply container flex flex-col w-full h-full px-6 my-auto text-white;
}

/* Stages */

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stage-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: solid white 5px;
  max-width: 500px;
  color: white;
 
  
}

.stage-container .img-wrap {
  max-width: 500px
}

.bandlink:hover {
  @apply text-yellow-500;
}

.zoom {
  
  transition: transform 0.4s ease;
    transform-origin: 50% 50%;
}

.zoom:hover {
  transform: scale(1.1);
   
}

/* News */
.news-wrap {
  @apply mt-4 p-4 bg-gray-800;
}

/* FAQ */
.faq-wrap {
  @apply mt-4 mb-20 p-4 bg-gray-800 rounded;
}

.faq-wrap h2 {
  @apply text-2xl text-[#088395] font-bold;
  font-style: italic;
}

.faq-wrap p {
  @apply text-lg text-right pb-4;
}

.faq-wrap ul li {
  @apply text-lg text-right;
}

/* Footer */
footer {
  @apply fixed inset-x-0 bottom-0;
}

.footer-wrap {
  @apply flex justify-between items-center px-5 bg-secondary text-white py-2;
}

.footer-nav {
  @apply justify-end items-center;
}

.footer-ul {
  @apply flex justify-between;;
}

.socials:hover {
  @apply text-yellow-500;
}

/* Media Queries */

@media (min-width: 768px) {
  body {
    @apply bg-crowd-lg;
  }

  .header {
    @apply fixed w-full h-[80px] flex justify-between items-center px-4 bg-secondary text-white;
  }

  .mobile-nav {
    display: none;
  }

  .logo {
    @apply flex py-0 px-2 w-[300px];
  }

  .section-title {
    @apply text-6xl text-center justify-center align-middle text-white font-bold bg-secondary rounded py-6 px-2 w-96 mx-auto;
  }

  .artist-container {
    @apply container w-full h-full flex flex-col align-middle items-center justify-center mx-auto px-10 pt-20 pb-40;
  }

  .add-artist-btn {
    @apply block w-full rounded-md bg-primary mt-2 px-3 pt-2 text-sm font-semibold text-white shadow-sm hover:bg-[#05BFDB] hover:text-black ;
  }
  
  .artist-section {
    @apply grid xl:grid-cols-2 justify-center gap-1;
  }

  .artist-card {
    @apply flex-1 w-full h-full;
  }

  .add-artist-container {
    @apply container flex flex-col w-full h-full mx-auto px-10 mt-20 text-white;
  }

  .faq-wrap h2 {
    @apply text-4xl text-[#088395] font-bold;
    font-style: italic;
  }
  
  .faq-wrap p {
    @apply text-xl text-right pb-4;
  }
  
  .faq-wrap ul li {
    @apply text-xl text-right;
  }

  .footer {
    @apply text-lg;
  }
}