@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Color */
.bg-primary {
  background: #088395;
}

.bg-secondary {
  background: #0A4D68;
}

.bg-accent {
  background: #05BFDB;
}

.text-accent {
  @apply text-yellow-300
}

.text-accent-secondary {
  color: #0A4D68;
}

/* Global Classes */
body {
  @apply flex flex-col min-h-screen bg-crowd bg-no-repeat bg-center bg-fixed;
}

main {
  @apply flex-auto;
}

li {
  @apply px-4;
  @apply cursor-pointer;
}

.section-wrap {
  @apply container mx-auto grid md:grid-cols-2 items-center md:justify-between;
}

.section {
  @apply mb-5;
}

form {
  @apply flex flex-col mb-auto mt-4 justify-center align-middle;
}

.form-container {
  @apply: grid grid-cols-1 gap-x-4 gap-y-2 sm:grid-cols-4;
}

.form-element {
  @apply block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-[#088395] sm:text-sm sm:leading-6;
}

.submit-btn {
  @apply block w-full rounded-md bg-secondary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-[#088395] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0A4D68];
}

/* Nav */
.header {
  @apply flex w-screen justify-between items-center px-4;
}

header a:hover {
  @apply text-gray-200;
}

.logo {
  @apply flex py-2 w-[95%];
}

li a:hover {
  @apply text-yellow-500;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 bg-gray-900 duration-500;
  width: 11rem;
}

/* Artists */
.band-section {
  @apply container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-auto;
}

.artists {
  @apply max-w-sm rounded overflow-hidden shadow-lg;
}

.artist-info {
  @apply px-6 pt-4 pb-2;
}

.artist-info h4 {
  @apply text-xl mb-2 font-bold;
}

/* Add Artist */
.add-artist {
  @apply text-4xl text-center;
}
.add-artist-container {
  @apply space-y-12 w-full h-full px-6 mt-6 text-white;
}

/* Footer */
.footer-wrap {
  @apply fixed inset-x-0 bottom-0;
}

.footer {
  @apply flex justify-between items-center px-5 bg-secondary text-white py-2;
}

.footer-nav {
  @apply justify-end items-center;
}

.footer-ul {
  @apply flex justify-between;;
}

.socials:hover {
  @apply text-yellow-500;
}

/* Media Queries */

@media (min-width: 768px) {
  body {
    @apply bg-crowd-lg;
  }

  .header {
    @apply fixed w-full h-[80px] flex justify-between items-center px-4 bg-secondary text-white;
  }

  .mobile-nav {
    display: none;
  }

  .logo {
    @apply flex py-0 px-2 w-[300px];
  }

  .about-wrap {
    @apply container mx-auto grid md:grid-cols-2 items-center justify-center md:justify-between;
  }

  .footer {
    @apply text-lg;
  }
}